## Demographic Data Analyzer

In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('adult.data')
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [20]:
df.shape

(32560, 15)

In [21]:
df.columns

Index(['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0',
       ' 40', ' United-States', ' <=50K'],
      dtype='object')

## How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [22]:
df.head(3)

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

In [23]:
df = pd.read_csv('adult.data', names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'salary'])
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [24]:
race_count = df['race'].value_counts()
print(race_count)

race
 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: count, dtype: int64

## What is the average age of men?

In [25]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [26]:
avg_men = df[df['sex'] == ' Male']['age'].mean()
round(avg_men, 1)

39.4

In [27]:
df['sex'].unique()

array([' Male', ' Female'], dtype=object)

## What is the percentage of people who have a Bachelor's degree?

In [28]:
# Calculate percentage of people with Bachelor's degree
bachelors_count = len(df[df['education'] == ' Bachelors'])
total_count = len(df)
percentage_bachelors = round((bachelors_count / total_count) * 100, 1)
percentage_bachelors

16.4

## What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [29]:
# Check unique education values
df['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [30]:
# Filter for advanced education
advanced_education = df[df['education'].isin([' Bachelors', ' Masters', ' Doctorate'])]
advanced_high_salary = advanced_education[advanced_education['salary'] == ' >50K']
percentage_advanced_high = round((len(advanced_high_salary) / len(advanced_education)) * 100, 1)
percentage_advanced_high

46.5

## What percentage of people without advanced education make more than 50K?

In [31]:
# Filter for non-advanced education
non_advanced_education = df[~df['education'].isin([' Bachelors', ' Masters', ' Doctorate'])]
non_advanced_high_salary = non_advanced_education[non_advanced_education['salary'] == ' >50K']
percentage_non_advanced_high = round((len(non_advanced_high_salary) / len(non_advanced_education)) * 100, 1)
percentage_non_advanced_high

17.4

## What is the minimum number of hours a person works per week?

In [32]:
min_hours = df['hours-per-week'].min()
min_hours

1

## What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [33]:
min_workers = df[df['hours-per-week'] == min_hours]
min_workers_high_salary = min_workers[min_workers['salary'] == ' >50K']
percentage_min_hours_high = round((len(min_workers_high_salary) / len(min_workers)) * 100, 1)
percentage_min_hours_high

10.0

## What country has the highest percentage of people that earn >50K and what is that percentage?

In [34]:
# Calculate percentage of high earners by country
country_salary = df.groupby('native-country')['salary'].apply(lambda x: (x == ' >50K').sum() / len(x) * 100)
highest_earning_country = country_salary.idxmax()
highest_earning_percentage = round(country_salary.max(), 1)
print(f"Country: {highest_earning_country}")
print(f"Percentage: {highest_earning_percentage}%")

Country:  Iran
Percentage: 41.9%

## Identify the most popular occupation for those who earn >50K in India

In [35]:
# Filter for India and high earners
india_high_earners = df[(df['native-country'] == ' India') & (df['salary'] == ' >50K')]
most_popular_occupation = india_high_earners['occupation'].value_counts().idxmax()
most_popular_occupation

' Prof-specialty'